<a href="https://colab.research.google.com/github/GrigorijSchleifer/Hyperoxia-2020/blob/main/Connecting_To_MIMIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# downgrade pandas - the pymatch package requires an older version of pandas
# you can ignore the warnings, happily none of them break!
!pip install pandas==0.22 --upgrade

In [25]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Import libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# below is used to print out pretty pandas dataframes
from IPython.display import display, HTML

%matplotlib inline


plt.style.use('ggplot')
plt.rcParams.update({'font.size': 20, 'figure.figsize': [16, 12]})

# we will load data from tables generated on BigQuery
from google.colab import auth
from google.cloud import bigquery

# Note that this should be the project for the datathon work,
# not the physionet-data project which is for data hosting.
project_id = 'physionet-data-304720'
os.environ['GOOGLE_CLOUD_PROJECT'] = project_id

# Read data from BigQuery into pandas dataframes.
def run_query(query, project_id=project_id):
  return pd.io.gbq.read_gbq(
      query,
      project_id=project_id,
      dialect='standard')

In [20]:
auth.authenticate_user()

In [ ]:
query = """ SELECT HADM_ID FROM `physionet-data.mimiciii_clinical.admissions` LIMIT 1000 """

df = run_query(query)
print(df)

     HADM_ID
0     134067
1     109129
2     121510
3     106469
4     133732
..       ...
995   155130
996   192427
997   167007
998   175116
999   184202

[1000 rows x 1 columns]

In [ ]:
!pip list